<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/c1f5fec1-26f6-47f6-aced-c6e894e946f9/resourceGroups/rcb005/providers/Microsoft.ContainerRegistry/registries/rcbblc</ResourceId>
    <ResourceName>rcbblc</ResourceName>
    <ResourceGroup>rcb005</ResourceGroup>
    <Subscription>Azure 订阅 1</Subscription>
    <RegistryUrl>https://rcbblc.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>6.85</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>114987a2-b2c4-4115-ab43-ec3a536a8e7b</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
    <TargetFramework>net7.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>